/* ===== Page layout ===== */
.pageContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-family: system-ui, sans-serif;
}

/* ===== Header ===== */

.headerSection {
  margin-top: 1.5rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 7rem;
}

/* ===== Link Section ===== */

.linkContainer {
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 550;
  font-size: 1.5rem;
  border: 1px solid #cececeff;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;

  margin: 2.5rem 7rem;

  justify-content: center;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link:hover {
  background-color: #f0f4ffff;
}

/* ===== Mobile ===== */

@media (max-width: 899px) {
  .link {
    margin: 2.5rem 1rem;
  }
}
